<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/cari.png" alt="Hallo" class="img-thumbnail rounded-circle" width="100">

            <div class="display-4 ">
                Hallo ini about
                <div class="lead">Ini Halaman About</div>
            </div>
        </div>
    </div>
</div>